.root {
  padding-bottom: 80px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.head .btn {
  display: flex;
  gap: 8px;
}
.stock__items {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 62px;
  grid-row-gap: 96px;
}
.stock__item {
  max-width: 540px;
}
.stock__photo {
  padding: 0 12px 12px 12px;
  border-radius: 24px;
  height: 260px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  color: white;
  line-height: 24px;
  position: relative;
}
.stock__photo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 86px;
  height: 48px;
  background: linear-gradient(90deg, #2f80ed 0%, rgba(47, 128, 237, 0) 100%);
  border-radius: 0px 24px;
}
.stock__photo::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 86px;
  height: 48px;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0) 96.11%
  );
  border-radius: 24px 0px;
}
.stock__discount {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  z-index: 2;
}
.stock__photo .likes {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 2;
}
.stock__item h3 {
  margin: 24px 0 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.stock__item .prices {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.stock__item .initial__price {
  margin-right: 10px;
  font-weight: 500;
  color: #828282;
  text-decoration: line-through;
}
