.root {
  padding: 60px 0 80px;
}
.container {
  margin: 0 auto;
  max-width: 1375px;
  text-align: center;
}
:global(.rec-slider-container) {
  margin: 0 63px !important;
}
.cart img {
  pointer-events: none;
}
.cart span {
  display: inline-block;
  color: #828282;
}
.cart b {
  color: black;
}
.cart__content {
  padding: 0 8px;
}
.cart__content span:not(:last-child) {
  margin-bottom: 16px;
}
.link {
  font-weight: 500;
  color: #2F80ED;
}