.root {
  padding: 100px 0;
  background: linear-gradient(180deg, #f3f3f3 0%, #f0f0f0 100%);
}
.container {
  max-width: 1375px;
  margin: 0 auto;
}
.slide {
  height: 100%;
}
.slide img {
  pointer-events: none;
}
.slide__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.slide__content {
  flex: 0 1 490px;
}
.slide__content h3 {
  font-size: 48px;
  line-height: 62px;
}
.slide__content span {
  display: block;
  margin: 12px 0 40px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
